node_modules/
backend/.env
infrastructure/terraform/.terraform
infrastructure/terraform/*.terraform.
infrastructure/terraform/.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform/
*.tfvars
terraform.log

infrastructure/terraform/setup/.env


.github/workflows/initial-test.yml
.github/workflows/deploy.yml